<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>RKB Home page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-theme {color:#fff !important;background-color:#4CAF50 !important}
.w3-btn {background-color:#4CAF50;margin-bottom:4px}
.w3-code{border-left:4px solid #4CAF50}
.myMenu {margin-bottom:150px}
</style>

<head>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <script type="text/javascript" th:src="@{/js/token_cookie.js}"></script>
    <script>
            window.onload=initHome;
    </script>
</head>
<body>

<!-- Top -->
<div class="w3-top">
    <div class="w3-row w3-white w3-padding">
        <div class="w3-half w3-margin-top w3-wide w3-hide-medium w3-hide-small"><div class="w3-right">IGRAEMSYA SO SHRIFTAMI</div></div>
    </div>
    <div class="w3-bar w3-theme w3-large" style="z-index:4;">

        <!-- Link to client  -->
        <!--<a class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white w3-padding-16" onclick="document.getElementById('id01').style.display='block'">Личный кабинет</a>-->

        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16" onclick="chooseTab('indexDiv')">Главная</a>
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16" onclick="chooseTab('tariffDiv')">Услуги</a>
        <a class="w3-bar-item w3-button w3-right w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="document.getElementById('loginForm').style.display='block'">Личный кабинет</a>
    </div>
</div>

<!-- Login -->
<div id="loginForm" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

        <div class="w3-center"><br>
            <span onclick="document.getElementById('loginForm').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        </div>

        <div id="login_msg" style="display:none">
            Invalid username and password.
        </div>
        <div id="404_msg" style="display:none">
            404 error.
        </div>
        <div id="logout_msg" style="display:none">
            You have been logged out.
        </div>

        <div class="w3-container">
            <div class="w3-section">
                <label><b>Username</b></label>
                <input id="login" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="login" required>
                <label><b>Password</b></label>
                <input id="password" class="w3-input w3-border" type="password" placeholder="Enter Password" name="password" required>
                <button class="w3-button w3-block w3-green w3-section w3-padding" onclick="return authenticate()">Login</button>
                <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
            </div>
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('loginForm').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
            <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
        </div>

    </div>
</div>

<!-- Main content index -->
<div id="indexDiv" class="w3-main w3-container pageTab" style="margin-top:117px;">
    <h1>Главная страница</h1>
    <div>
        <p><img th:src="@{/images/promotion.jpg}" style="width:25%; word-break: normal" align="left" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu magna risus. Suspendisse condimentum porta velit et convallis. Maecenas quis dolor nec ipsum hendrerit suscipit. Proin vel mollis sapien. Pellentesque id vulputate dolor. Sed varius leo vel nulla vehicula, nec placerat magna dictum. Phasellus imperdiet cursus leo in rutrum. Mauris ultrices sem convallis auctor tincidunt. Nullam bibendum purus eget lacus molestie, id dapibus nulla mattis. Aenean vel libero vitae eros accumsan ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. In posuere mattis lectus, cursus posuere dolor mollis vitae.</p>
        <p>Morbi in egestas metus, nec pharetra dui. Nunc at lorem blandit turpis feugiat consequat ac eget leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent eget dapibus libero, ac bibendum quam. Sed a purus sit amet enim viverra aliquet sit amet eget ligula. Aenean consequat varius convallis. Sed vitae ipsum est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius odio sed condimentum sollicitudin. In hac habitasse platea dictumst. Sed tempus sed diam imperdiet imperdiet. Etiam eu libero eget mauris iaculis molestie. Integer dapibus tristique accumsan.</p>
        <p>Donec id ligula ex. Etiam ipsum leo, sodales quis sem a, malesuada mattis massa. Nam dignissim felis quis nibh sodales elementum. Morbi vel tellus eu est tempus dignissim at a massa. Nulla tempus mi ut dignissim interdum. Sed gravida efficitur tellus. Vivamus sed accumsan turpis. Nam at nulla et orci efficitur scelerisque in sit amet neque. In nec lobortis justo.</p>
        <p>Mauris condimentum vulputate eros id accumsan. Quisque pretium leo quis velit posuere, ac tempor ligula ultricies. Nullam ultrices venenatis convallis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pellentesque id urna at bibendum. Vivamus tincidunt urna a dapibus tincidunt. Duis vitae felis nec sapien dignissim aliquet. Fusce sagittis nulla id magna congue interdum eget ac ante.</p>
        <p>In tempus sem nec felis accumsan, non dapibus urna porttitor. Nunc sit amet enim sit amet mauris sodales auctor ut viverra quam. Sed magna felis, placerat vitae quam nec, semper consectetur enim. Proin ac lectus luctus, tempor orci vel, commodo arcu. Aliquam vestibulum dolor eros, non varius ex facilisis at. In neque ipsum, tempus a urna tristique, gravida fermentum velit. Integer ac elementum odio. Sed suscipit lorem eget purus posuere, sed accumsan libero rhoncus. Sed mollis aliquam arcu, ut varius justo tincidunt ut. Vestibulum mi eros, iaculis eget tortor vel, tincidunt finibus lacus. Fusce ultrices ipsum quis feugiat tincidunt. Etiam pretium vulputate aliquam. Mauris volutpat ex et neque consectetur, convallis efficitur risus fringilla.</p>
    </div>
</div>

<!-- Main content tariffs -->
<div id="tariffDiv" class="w3-main w3-container pageTab" style="margin-top:117px; display: none">
    <h1>Тарифы для дебитовых карт</h1>
    <div id="debitTable" ></div>

    <h1>Тарифы для счетов</h1>
    <div id="accountTable" ></div>

    <h1>Тарифы для вкладов</h1>
    <div id="depositTable" ></div>
</div>

</body>
</html>